*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color:  #272727;
   
}
body h1{
    font-family: 'Kanit', sans-serif;
    font-size: bold;
    color: #ffff
}
#title h3{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-weight: 400;
}
#planos{
    margin: 30px;
    max-width: 950px;
    margin: 0 auto;
}
#planos h1{
    color: rgb(134, 255, 255);
    font-size: 50px;
}
#grids{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
   
}

.grid{
    display: grid;
    grid-auto-flow: column;
    text-align: center;
   
}
#descricao hr{
    border-color:rgb(134, 255, 255);
    box-sizing:border-box;
    width:100%;  
    height: 4px;
    background-color: aqua;
}
#descricao{
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 45px;
    font: size 14px;;
}
.card h2{
    margin-bottom: 20px;
}
.card{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    font-weight: 400;
    font-size: 14,5px;
}
.incards{
    margin-right: 10px;
    border-radius: 20px;
    border: 3px solid aqua;
    align-items: center;
    padding: 0px 10px 15px 10px;
    color: #ffff;
    margin: 0 auto;
    background-color: #3b3b3b;
    max-width: 180px;
}
.incards:hover{
    box-shadow: 2px 2px 15px #000000;
    transition: 0.5s ease;
}
.incards img{
    min-width: 38px;
}
#ouro{
    background-color: #272727;
    color: #fff;
    
}
.done{
    color: aqua;
}
.espaco{
    padding-top: 30px;
    padding-bottom: 25px;
}
.espacocard{
    padding-top: 20px;
    padding-bottom: 20px;
}
.espacocard1{
    padding-top: 20px;
    padding-bottom: 20px;
}
input:hover{
    box-shadow: 2px 2px 10px aqua;
    transition: 0.5s ease;
}
.button{
    border: 4px solid aqua;
    border-radius: 10px;
    min-width: 100px;
    background-color: #1b1b1b;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    padding: 0px 15px 0px 15px;
}
#btouro{
    font-size: 26px;
    color: aqua;
}
.none{
    display: none;
}
@media only screen and (max-width: 750px) {

    .card{
        margin:50px 10px 20px 20px;
    }
    #planos h1{
        align-items: center;
        margin: 0 auto;
    }
    .espacocard{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .none{
        display: flex;
    }
    #descricao{
        display: none;
    }
    #planos{
        max-width: 900px;
    }
    .espacocard{
        padding-top: 20px;
        padding-bottom: 10px;
        font-weight: 400;
        font-size: 13,5px;
    }
    .espacocard1{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    body h1{
       
        padding: 20px;
    }
    #planos h1{
        margin: 0 auto;
        display: grid;
       
        
    }
}